ASSIGNMENTS_VENGAIAH/Data_insert_DB_adapter_p3/SOA/Schemas/BPEL_INSERT.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ASSIGNMENTS_VENGAIAH/Data_insert_DB_adapter_p3/BPEL_INSERT"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input1" type="string"/>
                                <element name="input2" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>