ASSIGNMENTS_VENGAIAH/DB_SELECT_INSERT_DB_ADAPTER_P4/SOA/Schemas/SELECT_INSERT.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ASSIGNMENTS_VENGAIAH/DB_SELECT_INSERT_DB_ADAPTER_P4/SELECT_INSERT"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>